# git+https://github.com/openai/whisper.git
flask
# torch
# torchvision
# torchaudio
fireworks-ai

# firework api
# fw_3ZZTkpH2coFSZspjJQChc5d1
# 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